body{
    border: auto;
    border-color: grey;
  }
  
  legend{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
  }
  
  fieldset{ 
    border-color: black;
    width=80%;
    margin: auto;
    flex;
  }
  
  #qtsBox input{
    display: block;
  }
  
  #priceBox input::-webkit-outer-spin-button,
  #priceBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
    
  
  #taxBox input::-webkit-outer-spin-button,
  #taxBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  #discountBox input::-webkit-outer-spin-button,
  #discountBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  #totalBox input{
    display: block;
  }
  
  @media screen and (max-width: 480px) {
      body {
        width: 90%;
      }
    